.env
.env.*
!.env.example
.git
.gitignore
.pytest_cache
.ruff_cache
.coverage
coverage.xml
htmlcov
tests
requirements-dev.txt
requirements-dev.in
*.db
*.sqlite3
__pycache__
**/__pycache__
*.py[cod]
.venv
